<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://advent-2019-0220191207124252.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7a7fce14-ee2e-4114-af96-c715441aa097/resourcegroups/advent/providers/Microsoft.Web/sites/advent-2019-0220191207124252</ResourceId>
    <UserName>$advent-2019-0220191207124252</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://advent-2019-0220191207124252.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>